input,
textarea {
  all: unset;
  appearance: none;
  background-color: transparent;
  border: 0;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 0.875rem 1rem;

  input[type="radio"]:checked + label {
    background-color: var(--input-stroke);
  }

  &:focus,
  &:focus-within {
    border: 1px solid var(--brand-light);
  }
}

.input-wrapper {
  display: grid;
  color: var(--text-body);
  margin-top: 1.5rem;
  font: var(--text-bd-sm);

  & input,
  & textarea {
    color: var(--text-heading);
    font-size: 0.875rem;
    margin-top: 0.75rem;
    &::placeholder {
      color: var(--input-placeholder);
    }
  }
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* Garante que o ::-webkit-calendar-picker-indicator se posicione dentro do input */
input[type="datetime-local"] {
  position: relative;
}

/* Estende a área clicável do ícone para o input inteiro */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  cursor: pointer;
}

.input-area {
  & textarea {
    height: 8.5rem;
    word-wrap: break-word;
  }
}
