.radio-wrapper {
  display: flex;
  gap: 0.5rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.radio-inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;

  .icon {
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }

  /* ícones padrão */
  .in-person-icon {
    background-image: url(../../assets/icons/building-2.svg);
  }

  .online-icon {
    background-image: url(../../assets/icons/video.svg);
  }

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked {
      ~ span {
        color: white;
      }

      ~ .in-person-icon {
        background-image: url(../../assets/icons/building-2-checked.svg);
      }

      ~ .online-icon {
        background-image: url(../../assets/icons/video-checked.svg);
      }
    }
  }

  &:has(input:checked) {
    background-color: var(--input-stroke);
  }
}

.event-theme .grid-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;

  & input {
    display: none;
  }

  & .card {
    margin-top: 1rem;
    width: 8.375rem;
    height: 6.4375rem;
    border-radius: 0.5rem;
    background-color: var(--shape-button);
    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
    transition: outline 0.2s ease;

    &:hover {
      background-color: var(--shape-hover);
    }

    &:has(.card-input:checked) {
      outline: 3px solid var(--brand-light);
    }

    .card-label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
