* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  zoom: 99.9%;
}

:root {
  --font-logo: "Leckerli One", cursive;
  --font-Heading: "Baloo 2", sans-serif;
  --font-Body: "Open Sans", sans-serif;

  --shape-body: #212427;

  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --shape-background: #131516;
  --shape-button: #2d3136;
  --shape-body: #212427;

  --purple: #b259ff;
  --fuchsia: #ff59f9;
  --pink: #ff598b;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* inout */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --text-logo: 400 2.5rem var(--font-logo);

  --text-md: bold 1.75rem var(--font-Heading);
  --text-sm: bold 1.125rem var(--font-Heading);

  --text-bd-md: 400 1rem var(--font-Body);
  --text-bd-sm: 400 0.875rem var(--font-Body);
}

body {
  background-color: #29292e;
}
