#app {
  display: grid;
  grid-template-columns: 33.6% 66.4%;

  .aside-container {
    height: 100vh;
    padding: 2rem;
    border: 1.25rem solid black;
    border-radius: 0.75rem 0 0 0.75rem;
    background: var(--shape-body) url(../assets/Background.png) no-repeat
      center/cover;
  }

  .title {
    & img {
      width: 2.875rem;
    }
    & h2 {
      font: var(--text-logo);
      color: var(--pink);
    }

    & p {
      font: var(--text-bd-md);
      color: var(--text-heading);
    }
  }
}
