html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* impede rolagem do body */
}

#app {
  display: grid;
  grid-template-columns: 33.6% 66.4%;
  color: var(--text-heading);
  height: 100vh;

  .aside-container {
    overflow: hidden;
    height: 100vh;
    padding: 2rem;
    border: 1.25rem solid var(--shape-background);
    border-radius: 0.75rem 0 0 0.75rem;
    background: var(--shape-body) url(../assets/Background.png) no-repeat
      center/cover;

    & .title {
      & img {
        width: 2.875rem;
      }
      & h2 {
        margin-top: 1rem;
        font: var(--text-logo);
        color: var(--pink);
      }

      & p {
        margin-top: 0.25rem;
        font: var(--text-bd-md);
        color: var(--text-heading);
      }
    }
  }

  main {
    height: 100%;
    overflow-y: auto; /* rolagem só no conteúdo principal */
  }

  .main-container {
    padding: 5rem 7.5rem;
    background-color: var(--shape-body);
    border-block: 1.25rem solid var(--shape-background);
    border-right: 1.25rem solid var(--shape-background);
    border-radius: 0 0.75rem 0.75rem 0;

    & h1 {
      font: var(--text-md);
      color: var(--text-heading);
    }
  }
}
